.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.image {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 320px;
  height: 220px;
  flex-shrink: 0;
}

.gather_button {
  background: orange;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 30px;
  width: 140px;
}

.info {
  display: flex;
  margin: 20px 0;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px 10px;
}

.status {
  position: absolute;
  white-space: nowrap;
  padding: 4px 6px;
  margin: 5px;
  border-radius: 15px;
  color: #ffffff;
  font-size: 11px;
  background-color: #9e9e9e;
}

.editing {
  text-align: right;
}

.gathering_open {
  background-color: #005aa9;
}

.infoItem,
.longInfo {
  font-size: 17px;
  margin-top: 10px;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
}

@media (max-width: 800px) {

  .info {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 60%;
    height: 240px;
  }

  .details {
    width: 60%;
    margin-top: 15px;
    padding: 0;
  }

  .payment {
    margin-top: 15px;
  }

  .longInfo {
    width: 60%;
    margin: 0 auto;
  }
}