.about {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.container_text {
  margin-left: 30%;
  margin-right: 30%;
}

.about_text_title {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.about_text {
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
}

.about_text_end {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

