.wrapper {
  margin: 1rem 0 0 0;
}

.modalButton {
  display: flex;
  justify-content: center;
}

.modalContent {
  background: white;
  padding: .75rem 1.25rem 1.25rem 1.25rem;
}

.text {
  display: flex;
  justify-content: center;
}